/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
header{
    width: 80%;
    height: 100px;
    margin: 0 auto;
    line-height: 100px;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
}

button{
    margin-left: 1em;
}

/* MAIN */
main{
    width: 100%;
    height: calc(100vh - 100px);
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    border: 3px solid black;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.square{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
}

.alt10{
    width: calc(100% / 10);
    height: calc(600px / 10);
}

.alt9{
    width: calc(100% / 9);
    height: calc(600px / 9);
}

.alt7{
    width: calc(100% / 7);
    height: calc(600px / 7);
}

.bg-blue{
    background-color: blue;
}